* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    grid-gap:15px; /*poner valor longitud*/
    grid-template-columns: repeat(4, 1fr);
    max-width: 800 px;
    margin: auto;
    padding-left: 12%;
    
}
figure,
figure img{
    display: inline-block;
    width: 100%;
}
figure {
    position: relative;
    transform: perspective(600px) rotateY(0deg);
    transition: all ease .5s;
    transform-style: preserve-3d;
    
    cursor: pointer;
    box-shadow: 3px 3px 16px rgb(0, 0, 0, 0.6);
}
figure::after {
    content:  "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: 0.3s all ease;
}
figure:hover:after {
    background: rgba(255,255,255, 0.137);
}
figure.opened {
    transform: perspective(600px) rotateY(180deg);
    
   
}
figure .back{
    display: block;
    backface-visibility: hidden;
}
figure .searched-image {
    position:absolute;
    top:0;
    transform:perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    height: 100%;
    overflow: hidden;
}
.cuadro{
    display: block;
    justify-content:center;
    border-color: gray;
    border: solid 2px;
}

    